<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" href="/style.css">
    <title>Voting Login</title>
</head>
<body>
    <h1>Online Voting System - Login</h1>
    <form action="/login" method="POST">
        <label>account:</label>
        <input type="text" name="username" required>
        <br><br>
        <label>password:</label>
        <input type="password" name="password" required>
        <br><br>
        <button type="submit">登入</button>
    </form>
</body>
</html>